.website{
    margin:0px;
}
.top{
    display:flex;
    justify-content:flex-start;
    align-items:center;     
    font-size:20px;
    padding:5px;
}
.w1{
    flex:none;
    width:30%;
    line-height:28px;
}
.w2{
    flex:none;
    display:flex;
    width:70%;
    justify-content:flex-end;   
}
.w3{
    flex:none;
    margin-left:20px;
}
.w4{
    display:none;
    height:28px;
}
.w5{
    flex:none;
    object-position: center;
}
.w5 img{
    height:100%;
    object-fit:contain;
}
.first{
    display:flex;
    background-color:rgb(157, 187, 221);
    height:250px;
    justify-content:center;
    align-items:center;   
    margin-bottom:20px;
}
.second{
    flex:none;
    font-size:40px;
}
.out{
    display:flex;
    justify-content:center; 
}
.main{
    flex:none;
    display:flex;
    width:1200px;
    font-size:20px;
}
.main1{
    flex-grow:1;
    display:flex;
    background-color:rgb(157, 187, 221);
    height:50px;
    margin-right:20px;
    align-items:center;    
}
.main2{
    flex-grow:1;
    display:flex;
    background-color:rgb(157, 187, 221);
    height:50px;
    margin-right:20px;
    align-items:center;    
}
.main3{
    flex-grow:1;
    display:flex;
    background-color:rgb(157, 187, 221);
    height:50px;
    align-items:center;    
}
.picture{
    flex:none;
    height:50px;
    width:80px;
}
.word{
    flex:none;
    margin-left:5px;
}
.list{
    display:flex;
    width:1200px;
}
.list1{
    flex:none;  
}
.main0{
    flex:none;
    display:flex;
    flex-wrap:wrap;
    width:1200px;
    font-size:20px;
}
.main4{
    flex-grow:1;
    background-color:rgb(157, 187, 221);
    width:15.277%;
    margin-top:20px;
    margin-right:20px;
    align-items:center;
}
.main5{
    flex-grow:1;
    background-color:rgb(157, 187, 221);
    width:15.277%;
    margin-top:20px;
    justify-content:center; 
    text-align:center;
    line-height:center;
}
.main6{
    flex-grow:1;
    background-color:rgb(157, 187, 221);
    width:15.277%;
    margin-top:20px;
    margin-right:20px;
    align-items:center;
}
.main7{
    flex-grow:1;
    background-color:rgb(157, 187, 221);
    width:15.277%;
    margin-top:20px;
    justify-content:center; 
    text-align:center;
    line-height:center;
}
.main8{
    flex-grow:1;
    background-color:rgb(157, 187, 221);
    width:15.277%;
    margin-top:20px;
    margin-right:20px;
    align-items:center;
}
.main9{
    flex-grow:1;
    background-color:rgb(157, 187, 221);
    width:15.277%;
    margin-top:20px;
    margin-right:20px;
    align-items:center;    
}
.picture1{
    object-fit:contain;
    margin:0px;
    padding:0px;
    border:0px;
}
.picture1 img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
    object-fit:cover;
    display:block;
}
.word1{
    text-align:center;
    line-height:center;
}
img{
    object-fit:cover;    
}
@media (max-width:1200px){
    .main{
        flex-wrap:wrap;
        width:90%;
    }
    .main1{
        flex-shrink:0;
        width:45%;  
    }
    .main2{
        flex-shrink:0;
        width:45%;
        margin-right:0px;
    }
    .main3{
        flex-shrink:0;
        width:45%;
        margin-top:20px;    
}
    .main0{
        width:90%;
    }
    .main4{
        flex-shrink:0;
        width:21.5%;
    }
    .main5{
        flex-shrink:0;
        width:21.5%;
        margin-right:20px;
    }
    .main6{
        width:21.5%;
    }
    .main7{
        width:21.5%;
    }
    .main8{
        width:21.5%;
        margin-right:0px;
    }
    .main9{
        width:21.5%;
        margin-right:0px;  
    }
}
@media (max-width:600px){
    .second{
        font-size:30px;
    }
    .w2{
        display:none;
    }
    .w4{
        display:block;
        flex:none;
        width:70%;  
        justify-content:flex-end;   
        align-items:center;  
        text-align:end;
    }
    .w5{
        flex:none;
        object-position: center;
    }
    .main1{
        flex-shrink:0;
        width:90%;  
        margin-right:0px;
    }
    .main2{
        flex-shrink:0;
        width:90%;
        margin-top:20px; 
        margin-right:0px;
    }
    .main3{
        flex-shrink:0;
        width:90%;
        margin-top:20px;    
}   
.main4{
    width:90%;
    margin-right:0px; 
}
.main5{
    width:90%;
    margin-right:0px;
}
.main6{
    width:90%;
    margin-right:0px; 
}
.main7{
    width:90%;
    margin-right:0px; 
}
.main8{
    width:90%;
}
.main9{
    width:90%;
}
}
