<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登入系統</title>
        <style>
            .title {
                color: white;
                font-size: 30px;
                text-align: center;
                background-color: rgb(45, 86, 146);
                padding: 20px;
                margin-bottom: 20px;
            }
            .middle {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin: 0;            
            }
            .detail {
                font-size: 16px;              
                margin: 10px;
            }
            .message {
                font-size: 16px;              
            }
            .hr {
                margin: 30px;              
            }
        </style>
    </head>
    <body>
        <div class="title">歡迎光臨，這是會員頁</div>
        <div class="middle">
            <div>{{ name }}，歡迎登入系統</div>  
            <div class="detail"><a href="http://127.0.0.1:3000/signout" >登出系統</a></div>   
        </div>

        <hr class="hr" />  

        <div class="middle">
            <div>快來留言吧</div>
            <form action="/createMessage" method="POST" id="message">
                <div class="detail">內容 <input type="text" id="message" name="message" /></div>
                <div><button type="submit">送出</button></div>
            </form>        
        </div>   

        <hr class="hr" />

        <div class="middle" id="createMessage"></div>

        <hr class="hr" />

        <div class="middle">
            <div>查詢會員姓名</div>
                <div class="detail"><input type="text" id="checkMember" name="checkMember" /></div>
                <div><button type="button" onclick="getMember();">查詢</button></div>
            </form>
            <div class="detail" id="returnMember"></div>        
        </div>        

        <hr class="hr" />

        <div class="middle">
            <div>更新我的姓名</div>
                <div class="detail"><input type="text" id="updateName" name="updateName" /></div>
                <div><button type="button" onclick="updateName();">查詢</button></div>
            </form>
            <div class="detail" id="returnUpateMember"></div>        
        </div>     

        <script>
            function getMessage(){
                let name = {{ nameJson|safe }};
                let content = {{ contentJson|safe }};

                for(let i=0; i<name.length; i++){
                    let createMessage = document.getElementById("createMessage");
                    
                    let message = document.createElement("div");
                    message.className = "middle";

                    let showName = document.createElement("span");
                    showName.className = "middle";
                    showName.textContent = name[i] + "：";                     

                    let showContent = document.createElement("span");
                    showContent.className = "message";
                    showContent.textContent = content[i]; 

                    message.appendChild(showName);
                    message.appendChild(showContent);
                    createMessage.appendChild(message)
                }
            }
            getMessage()

            function getMember(){
                let getMember = document.getElementById("checkMember");
                let username = getMember.value;

                if(username.trim() === ""){
                    alert("請輸入帳號");
                    return;
                }

                fetch("http://127.0.0.1:3000/api/member?username=" + username).then(function(response){
                    return response.json();
                }).then(function(data){
                    let result = document.getElementById("returnMember");
                    result.innerHTML = "";

                    if(data.data === null){
                        result.innerHTML += "<div>帳號不存在</div>";
                    }else{
                        result.innerHTML += "<div>" + data.data.name + "(" + data.data.username + ")" + "</div>";
                    }
                });
            }

            function updateName(){
                let updateName = document.getElementById("updateName");
                let newName = updateName.value;

                if(newName.trim() === ""){
                    alert("請勿輸入空值");
                    return;
                }

                fetch("http://127.0.0.1:3000/api/member", {
                    method: "PATCH",
                    headers: {"Content-Type":"application/json"},
                    body: JSON.stringify({ "name" : newName }),
                }).then(function(response){
                    return response.json();
                }).then(function(data){
                    let result = document.getElementById("returnUpateMember");
                    result.innerHTML = "";
                    
                    if (data.ok === true){
                        result.innerHTML += "<div>更新成功</div>";
                    }else{
                        result.innerHTML += "<div>與原始姓名相同</div>";
                    }
                });
            }
        </script>
    </body>
</html>
